body {
		font-family: 'Varela Round';
		font-size: 18px;
}

.container {
	overflow: auto;
	position: fixed; /* stays on top */
	padding-bottom: 10px;
	width: 100%;
	margin: 0 auto;
	background: white;
	right: 0;
	left: 0;
	top: 0;
	overflow-y: auto;
}

header {
	background: white;
}

.bottom_bar {
	border-bottom: groove;
	border-bottom-left-radius:  20px;
	border-bottom-right-radius: 20px;
	border-bottom-width: 20px;
	border-bottom-style: ridge;
	border-bottom-color: rgb(113, 199, 149);
}

.section_w {
	background-color: white;
}

.section_g {
	background-color: #eee;
}

.line {
	display: block;
	width: 290px;
	height: 3px;
	padding: 0!important;
	background: rgb(113, 199, 149);
}

.centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.title {
	text-align: center;
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.content {
	margin: 0 auto;
	font-size: medium;
	padding-bottom: 25px;
}

iframe:focus {
	outline: none;
}

.iframe_fix {
	margin-left: 500px;
}

iframe[seamless] {
	display: block;
}

/* Photos */

.photo_album {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 400px;
	height: 300px;
}

.head_logo {
	/* position: relative; */
	margin-right: 50px;
	margin-top: 5px;
	width: 125px;
	height: 125px;
	border-radius: 50%;
}

.all_logos {
	/* text-indent: -999999px; */
	/* background: url('C:/Users/edoli/Desktop/WebPage/about.png'); */
	display: block; /* centers the photo */
	width: 300px;
	height: 300px;
	margin: 0 auto;
	border-radius: 50%;
}

.q_logo {
	display: block; /* centers the photo */
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.logo_fixed_margin {
	margin-top: -60px;
}


header::after {
	content: '';
	display: table;
	clear: both;
}

/* Navigation Bar */

nav {
	float: right;
}

nav ul {
	margin: 0 auto; /* above and lower spaces of bullets */
	padding: 0; /* between bullets and titles */
	list-style: none; /* bullets off */
}

nav li {
	display: inline-block; /* text allignment in a row */
	margin-left: 50px; /* spaces between titles */
	padding-top: 90px;
	position: relative;
}

nav a {
	color: #444444;
	text-decoration: none; /* no underlines */
	text-transform: uppercase;
	font-size: 14px;
}

nav a:hover {
	color: rgb(62, 185, 114);
	text-decoration: none; /* no underlines */
}

nav a::before {
	margin-top: 65px;
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: rgb(93, 230, 173);
	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 200ms; /* animation */
}

nav a:hover::before {	
	width: 100%;
}
